body{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 900px;
    height: 620;
    margin: 5% auto;
    background-color: #ffffff;
    box-shadow: 10px 10px 20px black;
}

html{
    background-color: #999999;
    background-image: url("res/background.jpg")
}

#photo{
    width: 350px;
}

.right p{
    margin: 1;
    font-size: 16pt;
    text-align: justify;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 10px 10px 10px black;
    font-family: fantasy;
}

#hat{
    position: absolute;
    top: 0;
    padding-top: 10px;
}

.container{
    padding-top: 20px;
    display: flex;
}

.left{
    order: 1;
    padding-right: 20px;
}

.right{
    order: 2;
}

#menu{
    background-color: #ffffff;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
    width:inherit;
    border-bottom-style: ridge;
    border-width: 6px;
    border-bottom-color: darkorange;
}

.button{
    border-style: dashed;
    border-color:darkorange;
    font-size: 40px;
    margin: 10;
    background-color: floralwhite;
    border-radius: 15px;
    border-width: 3.5px;
    font-family: fantasy;
}

.button:link{
    text-decoration: none;
    color: darkorange;
    padding-left: 10px;
    padding-right: 10px;
}

.button:visited{
    text-decoration: none;
    color: darkorange;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover{
    text-decoration: none;
    color: darkorange;
    padding-left: 10px;
    padding-right: 10px;
    color: orange;
}

#foot{
    margin-top: 20px;
    font-style: italic;
    text-align: right;
    border-top-style: ridge;
    border-width: 6px;
    border-top-color: darkorange;
}
